* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


header, main, footer{
    border: 1px dashed red;
    min-height: 100px;
}

main {
    flex-grow: 1;
    overflow: auto;
}

.container {
    background-color: red;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
}